.footer-box{
    display: block;
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    background-color: black;
}
.footer-links{
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

.footer-item1{
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}
.footer-item1 a {
    text-decoration: none;
    color: #737373;

    &:hover {
        text-decoration: underline;
    }
}

.footer-box a {
    text-decoration: none;
    color: #737373;

    &:hover {
        text-decoration: underline;
    }
}
