@import "variabili";
@font-face {
  font-family: NetflixSans;
  src: url(third-section-files/NetflixSans-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NetflixSans;
  letter-spacing: 0 !important;
}
.story-card-container {
  display: block;
}
.card {
  background: black;
  border-bottom: 8px solid #222;
}
.first-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  max-width: 1100px;
}
.first-card-text {
  padding: 0 3rem 0 0;
}
.image-animation {
  position: relative;
  .video-container {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    max-width: 73%;
    max-height: 53%;
    video {
      position: absolute;
      height: 100%;
    }
  }
  img {
    position: relative;
    z-index: 2;
  }
}
.second-image-animation {
  position: relative;
  .second-video-container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 47%;
    max-width: 63%;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    video {
      position: absolute;
      height: 100%;
    }
  }
  img {
    position: relative;
    z-index: 2;
  }
}
.second-card-text {
  padding: 0 0 0 3rem;
}
.card-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.card-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  padding-right: 35px;
}
.second-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  max-width: 1100px;
}
