@use 'sass:color';

main {

    .our-story-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 8px solid $gray-divider;

        .our-story-card {
            display: inline-block;
            color: $white;
            text-align: center;
            padding: 50px 5%;
            margin-bottom: 70px;

            h1 {
                font-size: $h1-font-size;
                font-weight: 400;
                margin: 0 auto;
            }

            h2 {
                font-size: $h2-font-size;
                font-weight: 400;
                margin: 1rem auto;
            }

            h3 {
                font-size: $h3-font-size;
                font-weight: 400;
                margin: 0 auto;
                max-width: 450px;
            }

            .email-form {
                position: relative;
                display: grid;
                grid-template-columns: 1fr max-content;
                margin: 20px 100px 0;
                row-gap: 15px;

                .red-btn {
                    font-size: $h2-font-size;
                    padding: 12px 26px;
                    background-color: $red;
                    border-radius: 0;
                    color: white;
                    border: 0;

                    &:hover {
                        background-color: color.adjust($red, $lightness: 5%);
                    }
                }
            }

            input {
                padding: 15px 10px;
                font-size: 1.2rem;
                width: 500px;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;

                ~ {
                    span {
                        position: absolute;
                        left: 12px;
                        top: 19px;
                        z-index: 3;
                        color: #aaa;
                        transition: all 0.15s ease;
                        pointer-events: none;
                        font-size: 16px;
                    }
                }

                &:focus {
                    padding-top: 19px;
                    padding-bottom: 11px;

                    ~ {
                        span {
                            top: 4px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }

        }
    }
}