// Reset
@font-face { font-family: NetflixSans; src: url(NetflixSans-Regular.woff2);}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NetflixSans;
}

// Font Netflix Homepage
$h1-nav-font-size: 3.125rem;
$h1-font-size: 2.5rem;
$h2-font-size: 1.625rem;
$h3-font-size: 1.438rem;

// Palette Netflix Homepage
$white: white;
$black: #000;
$gray-divider: #222;
$gray-faq-bg: #303030;
$gray-footer-links: #737373;
$red: #e50914;

// Border
$border-radius: 4px;

